.banner {
    background-image: url(../../../images/banner1.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner h2 {
    color: white;
    transform: translate();
    text-align: center;
    font-size: 100px;
    font-family: 'Cormorant Garamond', serif;

}

.banner p {
    font-size: 44px;
    text-align: center;
    font-weight: 600;
    color: #dbfc6d;
    font-family: 'Sacramento', cursive;
    margin-bottom: 20px;
}

.banner button {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 15px;
    border: 2px solid #86BC42;
    background-color: transparent;
    color: #dbfc6d;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    transition: color 0.3s ease-in-out;

}

.banner button:hover {
    color: white;
}

.banner button::after {
    content: '';
    width: 0px;
    background-color: #86BC42;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
    height: 52px;
    transition: width 0.3s ease-in-out;

}

.banner button:hover::after {
    width: 100%;
}


.banner button:active {
    background-color: #86BC42;
}

@media screen and (max-width:700px) {
    .banner {
        margin-top: 0px;
    }

    .banner h2 {
        font-size: 60px;
    }
}