* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

button{
  border: none;
  cursor: pointer;
}

a{
  text-decoration: none;
}